<input type="hidden" value="{$product_info.min_order_amount}" id="min-order-amount" />
{if $__cpt_local_settings.product_extra}
{assign var=product_extra value=$__cpt_local_settings.product_extra}
{/if}

{if !$CPT_CONSTRUCTOR_MODE}
{if !$printable_version}
	{if $product_info.ordering_available && $product_info.Price>0 && ( $smarty.const.CONF_SHOW_ADD2CART eq 1 ) && ( $smarty.const.CONF_CHECKSTOCK==0 || $product_info.in_stock > 0 ) }
	{if $__cpt_local_settings.request_product_count&&!$widget}
		{lbl_cart_product_quantity}:&nbsp;<input name="product_qty" class="product_qty" type="text" size="3" default_value="{$product_info.min_order_amount}" value="{$product_info.min_order_amount}">&nbsp;
	{/if}
	<input name='add2cart' id="product-add2cart-main" {if ($PAGE_VIEW eq 'facebook')||($PAGE_VIEW eq 'vkontakte')}type="submit" value="{"str_add_to_cart_string"|transcape}" {else}type="image" src="{if $__cpt_local_settings.view eq 'small'}{$button_add2cart_small}{else}{$button_add2cart_big}{/if}" alt="{"str_add_to_cart_string"|translate}" {/if} title="{"str_add_to_cart_string"|translate}"
		{if $smarty.const.CONF_SHOPPING_CART_VIEW ne $smarty.const.SHCART_VIEW_PAGE || $widget}
		class="add2cart_handler" rel="{if $widget}widget{/if}" {/if} >
	{elseif $smarty.const.CONF_SHOW_ADD2CART eq 1 && $smarty.const.CONF_CHECKSTOCK && !$product_info.in_stock && $product_info.ordering_available}
		<div class="prd_out_of_stock">{lbl_prd_out_of_stock}</div>
	{/if}
	
{/if}
{else}
	{if $__cpt_local_settings.request_product_count&&!$widget}
		{lbl_cart_product_quantity}:&nbsp;<input name="product_qty" type="text" size="3" value="{"cart_product_quantity"|translate}">&nbsp;
	{/if}
	<img border="0" src="{$button_add2cart_big}" alt="{"str_add_to_cart_string"|translate}" title="{"str_add_to_cart_string"|translate}"/>
{/if}

{if $product_info.min_order_amount > 1}
<div id="multiplicityInfoBlock" class="multiplicityInfoBlock tooltip no-footer" data-guid="2">
	<div class="tooltip_inner_wrapper">
		<div class="tooltip_header">
			<a class="tooltip_close" href="">Close</a>
		</div>
		<div class="tooltip_inner">This wallpaper is packaged in {if $product_info.min_order_amount == 2}double{elseif $product_info.min_order_amount == 3}triple{else}{$cart_content[i].multiplicity}{/if} rolls. Please change your single roll quantity up or down to an even quantity of single rolls.</div>
		<div class="tooltip_footer"></div>
	</div>
</div>

{literal}
<style>
#multiplicityInfoBlock .tooltip_inner {
background: #fff;
}
#multiplicityInfoBlock.tooltip::after {
	border-color: rgba(238, 238, 238, 0) rgba(238, 238, 238, 0) #FFF;
}
</style>

<script>
jQuery( document ).ready(function( $ ) {
	$('input[name="product_qty"]').on('keyup', function () {
		var qty = $(this).val();
		var moa = $('#min-order-amount').val();

		if (moa > 1 && qty % moa != 0) {
			$('#multiplicityInfoBlock').fadeIn(600);
		} else {
			$('#multiplicityInfoBlock').fadeOut(600);
		}
	});
});
</script>
{/literal}
{/if}

{if $product_info.sample_price > 0}
{literal}
<style>
#product-add2cart-sample {
 	background: #5bc0de none repeat scroll 0 0;
    border: 1px solid #46b8da;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    line-height: 1.5;
    margin: 5px 0;
    padding: 1px 5px;
}
#product-add2cart-sample:hover {
	background-color: #31b0d5;
	border-color: #269abc;
}
</style>
{/literal}

<br />
-- Or --
<br />
<input type="hidden" id="product-option-sample" name="option_999999999" value="0" />
<input type="hidden" id="product-param-sample" name="sample" value="0" />
<input type="submit" id="product-add2cart-sample" name="add2cart" value="Order Sample"
	{if $smarty.const.CONF_SHOPPING_CART_VIEW ne $smarty.const.SHCART_VIEW_PAGE || $widget}
	class="sample_add2cart_handler" {/if} />
{/if}

{literal}
<script type="text/javascript">
	var sampleButton = document.getElementById("product-add2cart-sample");

	sampleButton.onclick = function() {
		document.getElementById("product-option-sample").value = 1;
		document.getElementById("product-param-sample").value = 1;		
	}
	var mainButton = document.getElementById("product-add2cart-main");

	mainButton.onclick = function() {
		document.getElementById("product-option-sample").value = 0;
		document.getElementById("product-param-sample").value = 0;			
	}

</script>
{/literal}
